<nav class="navbar navbar-expand-lg navbar-light bg-light navbarSize" >
    <a class="navbar-brand" href="#">
        <img src="../../assets/Combined shape 4288.svg" />
        <img class="imgPosition" src="../../assets/Combined shape 42892.svg" />
        <img class="imgPosition" src="../../assets/Combined shape 42902.svg" />
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <a class="notification">
            <img class="imgStyle" src="../../assets/Combined shape 4368.svg" />
            <span class=""></span>
        </a>

        <a class="notification">
            <img class="imgStyle" src="../../assets/Combined shape 4402.svg" />
            <span class="badge badge-success">5</span>
        </a>
        <a class="notification">
            <img class="imgStyle" src="../../assets/Combined shape 4400.svg" />
            <span class="badge badge-danger">3</span>
        </a>

        <form class="form-inline my-3 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        elhoo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item">Action</a>
                        <a class="dropdown-item">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Something </a>
                    </div>
                </li>
            </ul>
        </form>
        <a class="btn">
            <div class="iconSize">
                <img class="imgSize" src="../../assets/Combined shape 42892.svg" />
                <img class="imgSize" src="../../assets/Combined shape 42902.svg" />
            </div>
        </a>
    </div>
</nav>
