/* @import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'); */

.elhoo_body_img_TableauBord_padding {
    padding-left: 140px;
}

.elhoo_dashboardMenu_IconSvgStyle {
    text-align: center;
    padding-top: 32px;
    width: 60px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: aqua;
}

svg {
    margin-top: -30px;
    height: 25px;
}
