.mat-datepicker-toggle {
    background: url("../../assets/16.png");
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.elhoo_body_title_textStyle {
    width: 256px;
    height: 41px;
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 29.1667px;
    line-height: 41px;
    /* identical to box height, or 141% */
    display: flex;
    align-items: center;
    letter-spacing: 1.16667px;
    color: #D22254;
}

.elhoo_body_subtitle_textStyle {
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 16.6667px;
    line-height: 41px;
    /* identical to box height, or 246% */
    display: flex;
    align-items: center;
    letter-spacing: 0.166667px;
    color: #323D41;
}

input[type="month"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("../../assets/16.png") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
    cursor: pointer;
}

.elhoo_body_img_TableauBord {
    width: 32px;
}

.elhoo_body_text_TableauBord {
    margin-top: 14px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.elhoo_body_btn {
    background: #D22254;
    box-shadow: -13.4px -13.4px 13px #FFFFFF, 3.3px 3.8px 20.4px rgba(115, 116, 119, 0.65);
    color: white;
    border-color: #D22254;
}

.elhoo_body_btn:hover {
    clear: both;
    color: #D22254;
    border-color: #D22254;
    background-color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.23s ease-in-out 0s;
}

.DashbordSize {
    text-align: center;
    padding-top: 30px;
    PADDING-BOTTOM: 26PX;
    padding-top: 26px;
    background: #F2F5FA;
    box-shadow: -7.1px -7.1px 13px #FFFFFF, 8.5px 9.8px 18.4px rgba(137, 148, 169, 0.27), inset 3.5px 3.5px 6px #FFFFFF;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DashbordSize2 {
    text-align: center;
    padding-top: 59px;
    padding-bottom: 57px;
    height: 263.84px;
    background: #F2F5FA;
    box-shadow: -7.1px -7.1px 13px #FFFFFF, 8.5px 9.8px 18.4px rgba(137, 148, 169, 0.27), inset 3.5px 3.5px 6px #FFFFFF;
    border-radius: 7px;
}

.DashbordSize3 {
    text-align: center;
    padding-top: 59px;
    padding-bottom: 57px;
    background: #F2F5FA;
    box-shadow: -7.1px -7.1px 13px #FFFFFF, 8.5px 9.8px 18.4px rgba(137, 148, 169, 0.27), inset 3.5px 3.5px 6px #FFFFFF;
    border-radius: 7px;
}

.dateInputFormat {
    background: #F2F5FA;
    box-shadow: -7.1px -7.1px 13px #FFFFFF, 8.5px 9.8px 18.4px rgba(137, 148, 169, 0.27), inset 3.5px 3.5px 6px #FFFFFF;
}

.tlp {
    padding-left: 140px;
    padding-right: 50px;
}

.tlp1 {
    padding-left: 140px;
}

.tlp3 {
    margin-left: -146px;
}

.yer {
    border: none;
    margin-bottom: 36px;
    padding: 12px 6px 12px 20px;
    border-radius: 7px;
}

.elhoo_body_text {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 20px;
    LETTER-SPACING: 2PX;
}

.elhoo_body_textt {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.pp {
    PADDING-LEFT: 20PX;
    PADDING-RIGHT: 20PX;
    FONT-SIZE: 13PX;
    LETTER-SPACING: 1PX;
}