<app-nav></app-nav>

<app-dashbord-menu></app-dashbord-menu>

<div class="container-fluid  tlp1 pr-4">
  <div class="row">
      <div class="col-12 col-md-6">
          <div class="row">
              <div class="col-12 col-md-12">
                <p class="text-capitalize textStyle">Tableau de bord</p>
                <p class="text-lowercase textStyle2">Content de vous revoir, youssef !</p>
              </div>
          </div>
          <div class="row">
              <div class="col-12 col-md-2">
                  <div class="DashbordSize pl-0">
                      <a href="#">
                          <img class="img1 img-fluid" src="../../assets/Combined shape 3715.svg" />

                          <p class="card-text prg"> Vente </p>
                      </a>
                  </div>
              </div>
<div class="col-12 col-md-2">
                  <div class="DashbordSize">
                      <a href="#">
                          <img class="img1 img-fluid" src="../../assets/Combined shape 3714.svg" />
                          <p class="card-text prg"> Achat </p>
                      </a>
                  </div>
              </div>
              <div class="col-12 col-md-2">
                  <div class="DashbordSize">
                      <a href="#">
                          <img class="img1 img-fluid" src="../../assets/Combined shape 3735 (2).svg" />
                          <p class="card-text prg"> Paiement </p>
                      </a>
                  </div>
              </div>
              <div class="col-12 col-md-2">
                  <div class="DashbordSize">
                      <a href="#">
                          <img class="img1 img-fluid" src="../../assets/Combined shape 4198.svg" />
                          <p class="card-text prg"> Comptable </p>
                      </a>
                  </div>
              </div>

              <div class="col-12 col-md-2">
                  <div class="DashbordSize">
                      <a href="#">
                          <img class="img1 img-fluid" src="../../assets/Combined shape 4197.svg" />
                          <p class="card-text prg"> Préférence </p>
                      </a>
                  </div>
              </div>
              <div class="col-12 col-md-2">
                  <div class="DashbordSize">
                      <a href="#">
                          <img class="img1 img-fluid" src="../../assets/Combined shape 3715.svg" />
                          <p class="card-text prg"> Vente </p>
                      </a>
                  </div>
              </div>


              <div class="col-12 col-md-2">
                  <div class="DashbordSize">
                      <a href="#">
                          <img class="img1 img-fluid" src="../../assets/Combined shape 4198.svg" />
                          <p class="text-center prg"> Comptable </p>
                      </a>
                  </div>
              </div>
              <div class="col-12 col-md-2 pr-3">
                  <div class="DashbordSize">
                      <a href="#">
                          <img class="img1 img-fluid" src="../../assets/Combined shape 4197.svg" />
                          <p class="text-center prg"> Préférence </p>
                      </a>
                  </div>
              </div>

              <div class="col-12 col-md-2 pr-3">
                  <div class="DashbordSize">
                      <a href="#">
                          <img class="img1 img-fluid" src="../../assets/Combined shape 4197.svg" />
                          <p class="text-center prg"> Préférence </p>
                      </a>
                  </div>
              </div>

                <div class="col-12 col-md-2">
                  <div class="DashbordSize">
                      <a href="#">
                          <img class="img1 img-fluid" src="../../assets/Combined shape 3714.svg" />
                          <p class="card-text prg"> Achat </p>
                      </a>
                  </div>
              </div>
              <div class="col-12 col-md-2">
                  <div class="DashbordSize">
                      <a href="#">
                          <img class="img1 img-fluid" src="../../assets/Combined shape 3735 (2).svg" />
                          <p class="card-text prg"> Paiement </p>
                      </a>
                  </div>
              </div>
              <div class="col-12 col-md-2 pr-3">
                  <div class="DashbordSize">
                      <a href="#">
                          <img class="img1 img-fluid" src="../../assets/Combined shape 4197.svg" />
                          <p class="text-center prg"> Préférence </p>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-12 text-right">
              <input class="dateInput dateInputFormat yer" type="month" id="start" />
          </div>
         </div>
         <div class="row">
          <div class="col-12 col-md-12">
            <div >
                <canvas id="myChart"></canvas>
            </div>
          </div>
          </div>
      </div>
    </div>
</div>

<br />
<br />
<div class="container-fluid tlp">




</div>


<br />
<br />
<div class="container-fluid tlp">
    <div class="row">
        <div class="col-12 col-md-9"></div>
        <div class="col-12 col-md-3 pr-0 text-right">
            <input class="dateInput dateInputFormat yer" type="month" id="start" />
        </div>
        <div class="col-12 col-md-3  ">
            <div class="DashbordSize3">
                <img src="../../assets/Combined shape 3715.svg" />
                <p class="card-text prg">Ventes</p>
                <h1 class="card-text text-center">0,00 €</h1>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="DashbordSize3">
                <img src="../../assets/Combined shape 3714.svg" />
                <p class="card-text prg">Achats</p>
                <h1 class="card-text text-center">0,00 €</h1>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="DashbordSize3">
                <img src="../../assets/Combined shape 4432.svg" />
                <p class="card-text prg">Marge</p>
                <h1 class="card-text text-center">0,00 €</h1>
            </div>
        </div>
        <div class="col-12 col-md-3 pr-0">
            <div class="DashbordSize3">
                <img src="../../assets/Combined shape 4432.svg" />
                <p class="card-text prg">Marge</p>
                <h1 class="card-text text-center">0,00 €</h1>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container-fluid tlp">
    <div class="row">
        <div class="col-12 col-md-3  ">
            <div class="DashbordSize2">
                <img src="../../assets/Combined shape 3735 (2).svg" />

                <p class="card-text prg">LIEZ VOTRE COMPTE BANCAIRE</p>
                <p class="card-text">Liez votre compte bancaire et vos paiements seront réconciliés avec vos factures</p>
                <a href="#" class="btn btn-danger">Lier compte bancaire</a>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="DashbordSize2">
                <img src="../../assets/Combined shape 3754 (1).svg" />
                <p class="card-text prg">balance TVA</p>
                <h1 class="card-text text-center">12000€</h1>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="DashbordSize2">
                <img src="../../assets/Combined shape 4455.svg" />
                <p class="card-text prg">CRÉEZ UNE FACTURE</p>
                <p class="card-text">Créez une facture simplement en quelques clics</p>
                <a href="#"  class="btn btn-danger">Créer facture</a>
            </div>
        </div>
        <div class="col-12 col-md-3 pr-0">
            <div class="DashbordSize2">
                <img src="../../assets/Combined shape 4456.svg" />
                <p class="card-text prg">ENREGISTREZ UNE FACTURE D'ACHAT</p>
                <p class="card-text">Enregistrez une facture d'achat afin de voir vos profits</p>
                <a href="#"  class="btn btn-danger"> Enregistrer facture</a>
            </div>
        </div>
    </div>
</div>
