<app-nav></app-nav>

<app-dashbord-menu></app-dashbord-menu>


<div class="container-fluid  elhoo_body_img_TableauBord_padding">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-md-12">
                    <p class="  elhoo_body_title_textStyle">Tableau de bord</p>
                    <p class="   elhoo_body_subtitle_textStyle">Content de vous revoir, youssef !</p>
                </div>
            </div>
            <div class="row pt-5 pl-2">
                <div class="col-6 col-md-2 mb-3 pl-2 px-sm-2">
                    <div class="elhoo_body_text_TableauBord_divContent pl-0 " #elhoolink [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 3715.svg" />
                            <p> Vente </p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 mb-3 pl-2 px-sm-2">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 3714.svg" />
                            <p> Achat </p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 mb-3 pl-2 px-sm-2">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 3735 (2).svg" />
                            <p> Paiement </p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 mb-3 pl-2 px-sm-2">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4198.svg" />
                            <p> Comptable </p>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-md-2 mb-3 pl-2 px-sm-2">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4197.svg" />
                            <p> Préférence </p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 mb-3 pl-2 px-sm-2">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 3715.svg" />
                            <p> Vente </p>
                        </a>
                    </div>
                </div>


                <div class="col-6 col-md-2 mb-3 pl-2 px-sm-2">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4198.svg" />
                            <p> Comptable </p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 pr-3 mb-3 pl-2 px-sm-2">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4197.svg" />
                            <p> Préférence </p>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-md-2 pr-3 mb-3 pl-2 px-sm-2">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4197.svg" />
                            <p> Préférence </p>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-md-2 mb-3 pl-2 px-sm-2">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 3714.svg" />
                            <p> Achat </p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 mb-3 pl-2 px-sm-2">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 3735 (2).svg" />
                            <p> Paiement </p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2  mb-3 pl-2 px-sm-2">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4197.svg" />
                            <p> Préférence </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">



                <div class="col-12 col-md-12 text-right">


                    <mat-form-field class=" elhoo_body_dateInputFormat ">

                        <input class="ml-3" matInput [matDatepicker]="dp" [formControl]="date_chart">
                        <mat-datepicker-toggle matSuffix [for]="dp">

                            <mat-icon matDatepickerToggleIcon><img class="elhoo_body_input_date" src="../../assets/16.png"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler_chart($event ,dp)">

                        </mat-datepicker>
                    </mat-form-field>





                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div>
                        <canvas class="elhoo_body_canvas" id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid elhoo_body_TableauBord-result-padding">
    <div class="row pl-2">
        <div class="col-12 col-md-9"></div>
        <div class="col-12 col-md-3 pr-0 text-right">

            <mat-form-field class=" elhoo_body_dateInputFormat  ">

                <input class="ml-3" matInput [matDatepicker]="dp1" [formControl]="date_statistique">
                <mat-datepicker-toggle matSuffix [for]="dp1">

                    <mat-icon matDatepickerToggleIcon><img class="elhoo_body_input_date" src="../../assets/16.png"></mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #dp1 startView="multi-year" (yearSelected)="chosenYearHandler_statistique($event ,dp1)">

                </mat-datepicker>
            </mat-form-field>

        </div>
        <div class="col-6 col-md-3 mb-3 pl-2 px-sm-2 ">
            <div class="elhoo_body_TableauBord-result" #elhoolink2 [ngStyle]="{'height.px': elhoolink2.offsetWidth/1.6}">
                <img src="../../assets/Combined shape 3715.svg" />
                <p class=" elhoo_body_text_TableauBord">Ventes</p>
                <h1 class=" text-center mb-0">0,00 €</h1>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3 pl-2 px-sm-2">
            <div class="elhoo_body_TableauBord-result" #elhoolink2 [ngStyle]="{'height.px': elhoolink2.offsetWidth/1.6}">
                <img src="../../assets/Combined shape 3714.svg" />
                <p class=" elhoo_body_text_TableauBord">Achats</p>
                <h1 class=" text-center mb-0">0,00 €</h1>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3 pl-2 px-sm-2">
            <div class="elhoo_body_TableauBord-result" #elhoolink2 [ngStyle]="{'height.px': elhoolink2.offsetWidth/1.6}">
                <img src="../../assets/Combined shape 4432.svg" />
                <p class=" elhoo_body_text_TableauBord">Marge</p>
                <h1 class="  text-center mb-0">0,00 €</h1>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3 pl-2 px-sm-2">
            <div class="elhoo_body_TableauBord-result" #elhoolink2 [ngStyle]="{'height.px': elhoolink2.offsetWidth/1.6}">
                <img src="../../assets/Combined shape 4432.svg" />
                <p class="  elhoo_body_text_TableauBord">Marge</p>
                <h1 class="text-center mb-0">0,00 €</h1>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container-fluid elhoo_body_TableauBord-result-padding">
    <div class="row mb-4 pl-2">
        <div class="col-6 col-md-3 mb-3 pl-2 px-sm-2  ">
            <div class="elhoo_body_TableauBord-result" #elhoolink3 [ngStyle]="{'height.px': elhoolink3.offsetWidth}">
                <img src="../../assets/Combined shape 3735 (2).svg" />

                <p>LIEZ VOTRE COMPTE BANCAIRE</p>
                <h5 class="pl-4 pr-4 mb-0">Liez votre compte bancaire et vos paiements seront réconciliés avec vos factures</h5>
                <a href="#" class="btn elhoo_body_btn text-uppercase elhoo_body_text">Lier compte bancaire</a>
            </div>
        </div>

        <div class="col-6 col-md-3 mb-3 pl-2 px-sm-2">
            <div class="elhoo_body_TableauBord-result" #elhoolink2 [ngStyle]="{'height.px': elhoolink3.offsetWidth}">
                <img src="../../assets/Combined shape 3754 (1).svg" />
                <p class=" text-uppercase ">balance TVA </p>
                <h1 class=" text-center ">12000€</h1>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3 pl-2 px-sm-2 ">
            <div class="elhoo_body_TableauBord-result" #elhoolink2 [ngStyle]="{'height.px': elhoolink3.offsetWidth}">
                <img src="../../assets/Combined shape 4455.svg" />
                <p>CRÉEZ UNE FACTURE</p>
                <h5 class="pl-4 pr-4 mb-0">Créez une facture simplement en quelques clics</h5>
                <a href="#" class="btn elhoo_body_btn text-uppercase elhoo_body_text mb-0 ">Créer facture</a>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3 pl-2 px-sm-2">
            <div class="elhoo_body_TableauBord-result" #elhoolink3 [ngStyle]="{'height.px': elhoolink3.offsetWidth}">
                <img src="../../assets/Combined shape 4456.svg" />
                <p>ENREGISTREZ UNE FACTURE D'ACHAT</p>
                <h5 class="pl-4 pr-4 mb-0">Enregistrez une facture d'achat afin de voir vos profits</h5>
                <a href="#" class="btn  elhoo_body_btn text-uppercase elhoo_body_text mb-0 "> Enregistrer facture</a>
            </div>
        </div>
    </div>
</div>