<app-nav></app-nav>

<app-dashbord-menu></app-dashbord-menu>


<div class="container-fluid  tlp1 pr-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-md-12">
                    <p class="  elhoo_body_title_textStyle" style="font-family: 'Poppins', sans-serif;    font-size: 23px;">Tableau de bord</p>
                    <p class="   elhoo_body_subtitle_textStyle">Content de vous revoir, youssef !</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-2" style="   margin-bottom: 38px;">
                    <div class="DashbordSize pl-0 ">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="elhoo_body_img_TableauBord  img-fluid" src="../../assets/Combined shape 3715.svg" />

                            <p class="elhoo_body_text_TableauBord" > Vente </p>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-2" style="   margin-bottom: 38px;">
                    <div class="DashbordSize">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="elhoo_body_img_TableauBord  img-fluid" src="../../assets/Combined shape 3714.svg" />
                            <p class="elhoo_body_text_TableauBord"> Achat </p>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-2" style="   margin-bottom: 38px;">
                    <div class="DashbordSize">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="elhoo_body_img_TableauBord  img-fluid" src="../../assets/Combined shape 3735 (2).svg" />
                            <p class="elhoo_body_text_TableauBord"> Paiement </p>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-2" style="   margin-bottom: 38px;">
                    <div class="DashbordSize">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="elhoo_body_img_TableauBord  img-fluid" src="../../assets/Combined shape 4198.svg" />
                            <p class="elhoo_body_text_TableauBord"> Comptable </p>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-2" style="   margin-bottom: 38px;">
                    <div class="DashbordSize">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="elhoo_body_img_TableauBord  img-fluid" src="../../assets/Combined shape 4197.svg" />
                            <p class="elhoo_body_text_TableauBord"> Préférence </p>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-2" style="   margin-bottom: 38px;">
                    <div class="DashbordSize">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="elhoo_body_img_TableauBord  img-fluid" src="../../assets/Combined shape 3715.svg" />
                            <p class="elhoo_body_text_TableauBord"> Vente </p>
                        </a>
                    </div>
                </div>


                <div class="col-12 col-md-2" style="   margin-bottom: 38px;">
                    <div class="DashbordSize">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="elhoo_body_img_TableauBord  img-fluid" src="../../assets/Combined shape 4198.svg" />
                            <p class="elhoo_body_text_TableauBord"> Comptable </p>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-2 pr-3" style="   margin-bottom: 38px;">
                    <div class="DashbordSize">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="elhoo_body_img_TableauBord  img-fluid" src="../../assets/Combined shape 4197.svg" />
                            <p class="elhoo_body_text_TableauBord"> Préférence </p>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-2 pr-3" style="   margin-bottom: 38px;">
                    <div class="DashbordSize">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="elhoo_body_img_TableauBord  img-fluid" src="../../assets/Combined shape 4197.svg" />
                            <p class="elhoo_body_text_TableauBord"> Préférence </p>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-2" style="   margin-bottom: 38px;">
                    <div class="DashbordSize">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="elhoo_body_img_TableauBord  img-fluid" src="../../assets/Combined shape 3714.svg" />
                            <p class="elhoo_body_text_TableauBord"> Achat </p>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-2" style="   margin-bottom: 38px;">
                    <div class="DashbordSize">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="elhoo_body_img_TableauBord  img-fluid" src="../../assets/Combined shape 3735 (2).svg" />
                            <p class="elhoo_body_text_TableauBord"> Paiement </p>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-2 pr-3" style="   margin-bottom: 38px;">
                    <div class="DashbordSize">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="elhoo_body_img_TableauBord  img-fluid" src="../../assets/Combined shape 4197.svg" />
                            <p class="elhoo_body_text_TableauBord"> Préférence </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">



                <div class="col-12 col-md-12 text-right">


 <mat-form-field  class=" dateInputFormat yer">

  <input matInput [matDatepicker]="dp" [formControl]="date" >
  <mat-datepicker-toggle matSuffix [for]="dp">

<mat-icon matDatepickerToggleIcon><img class="fit-picture"
     src="../../assets/16.png"></mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                   >

  </mat-datepicker>
</mat-form-field>





                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div class="container-fluid tlp">




</div>


<br />
<br />
<div class="container-fluid tlp">
    <div class="row">
        <div class="col-12 col-md-9"></div>
        <div class="col-12 col-md-3 pr-0 text-right">
            <input class=" dateInputFormat yer" type="month" id="start" />
        </div>
        <div class="col-12 col-md-3  ">
            <div class="DashbordSize3">
                <img src="../../assets/Combined shape 3715.svg" />
                <p class=" elhoo_body_text_TableauBord">Ventes</p>
                <h1 class=" text-center mb-0">0,00 €</h1>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="DashbordSize3">
                <img src="../../assets/Combined shape 3714.svg" />
                <p class=" elhoo_body_text_TableauBord">Achats</p>
                <h1 class=" text-center mb-0">0,00 €</h1>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="DashbordSize3">
                <img src="../../assets/Combined shape 4432.svg" />
                <p class=" elhoo_body_text_TableauBord">Marge</p>
                <h1 class="  text-center mb-0">0,00 €</h1>
            </div>
        </div>
        <div class="col-12 col-md-3 pr-0">
            <div class="DashbordSize3">
                <img src="../../assets/Combined shape 4432.svg" />
                <p class="  elhoo_body_text_TableauBord">Marge</p>
                <h1 class=" text-center mb-0">0,00 €</h1>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container-fluid tlp">
    <div class="row">
        <div class="col-12 col-md-3  ">
            <div class="DashbordSize2">
                <img src="../../assets/Combined shape 3735 (2).svg" />

                <p class="elhoo_body_text_TableauBord" style="LETTER-SPACING: 1PX;">LIEZ VOTRE COMPTE BANCAIRE</p>
                <p class="pp ">Liez votre compte bancaire et vos paiements seront réconciliés avec vos factures</p>
                <a href="#" class="btn elhoo_body_btn text-uppercase elhoo_body_text "  >Lier compte bancaire</a>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="DashbordSize2">
                <img src="../../assets/Combined shape 3754 (1).svg" />
                <p class="elhoo_body_text_TableauBord " style="LETTER-SPACING: 1PX;">balance TVA</p>
                <h1 class=" text-center mb-0">12000€</h1>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="DashbordSize2">
                <img src="../../assets/Combined shape 4455.svg" />
                <p class="elhoo_body_text_TableauBord "  style="LETTER-SPACING: 1PX;">CRÉEZ UNE FACTURE</p>
                <p class="pp ">Créez une facture simplement en quelques clics</p>
                <a href="#" class="btn elhoo_body_btn text-uppercase elhoo_body_text mb-0">Créer facture</a>
            </div>
        </div>
        <div class="col-12 col-md-3 pr-0">
            <div class="DashbordSize2">
                <img src="../../assets/Combined shape 4456.svg" />
                <p class="elhoo_body_text_TableauBord "  style="LETTER-SPACING: 1PX;">ENREGISTREZ UNE FACTURE D'ACHAT</p>
                <p class="pp ">Enregistrez une facture d'achat afin de voir vos profits</p>
                <a href="#" class="btn  elhoo_body_btn text-uppercase elhoo_body_text mb-0"> Enregistrer facture</a>
            </div>
        </div>
    </div>
</div>
