.elhoo_dashboardMenu_IconSvgStyle {
    text-align: center;
    padding-top: 32px;
    width: 60px;
    border-radius: 10px;
    border: 1.9px solid #323d41;
    margin-top: 10px;
    cursor: pointer;
}

.elhoo_dashboardMenu_menuPosition {
    position: absolute;
    z-index: 1;
}

.elhoo_dashboardMenu_helpIconSvgStyle {
    text-align: center;
    padding-top: 32px;
    width: 60px;
    border-radius: 10px;
    border: 1.9px solid #323d41;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 12px;
}

img {
    margin-top: -44px;
}

svg {
    margin-top: -30px;
    height: 25px;
}